<!DOCTYPE html>
<html>
<head>
    <title><%= title1 %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title1 %></h1>
<p>Welcome to <%= title1 %></p>
<img src="images/imagen1.jpg" width="500" height="500" alt="Luis Felipe Vélez Flores">
<a href="/">Inicio</a>
<p> Luis Felipe Vélez Flores</p>
</body>
</html>