<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<%for(var i in quizzes){%>
<% var quiz =quizzes[i];%>
<li>
    <%=quiz.question%>:<%= quiz.answer%>
</li>

<% } %>

<a href="/credits">Credits</a>
</body>
</html>